.home_body {
  background-color: #fafafa;
}

* {
  box-sizing: border-box;
}

.sign_up {
  align-items: center;
  appearance: none;
  background-color: #0d47a1;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  margin: 3px;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
  will-change: transform, opacity;
  z-index: 0;
}

.sign_up:hover {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #0d47a1;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: larger;
  font-weight: bolder;
  height: 40px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  margin: 3px;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: max-content;
  will-change: transform, opacity;
  z-index: 0;
}

/* Afrivacx Intro */
.afrivacx_intros {
  text-align: center;
  padding: 4rem 5rem 1rem;
}

.intro {
  padding: 2rem;
}

.intro h4 {
  color: #0d47a1;
}

.intro b {
  color: #0d47a1;
}

.intro p {
  font-size: large;
  text-align: justify;
  color: black;
}

.font {
  color: #0d47a1;
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  background-color: white;
  margin: 1rem;
  box-shadow: rgba(248, 249, 250, 0.17) 0px -23px 25px 0px inset,
    rgba(246, 247, 247, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.afrivacx_intro p {
  font-size: small;
}

.afrivacx_intro:hover {
  background-color: #0d47a1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.afrivacx_video p {
  font-size: 3rem;
}

.afrivacx_video b,
span {
  color: #0d47a1;
}

.afrivacx_video {
  padding: 2rem 5rem 5rem;
}

.vid {
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  padding: 1px 1px 0px;
  height: 35rem;
}

.afrivacx_info {
  display: grid;
  grid-template-columns: 20% 75%;
  padding: 5rem;
  grid-column-gap: 4rem;
}

.info_detail {
  display: grid;
  grid-template-columns: 25% 75%;
  border: #0d47a1 solid 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.detail_img {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.info_det {
  padding: 1rem;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.tab {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 3rem;
  display: flex;
  align-items: center;
  padding-left: 2rem;
  cursor: pointer;
  color: #0d47a1;
}

.tab p {
  margin: 0px;
}

.tab:hover {
  background-color: #0d47a1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.selected_ta {
  height: 3rem;
  display: flex;
  flex-direction: column-reverse;
  padding-left: 2rem;
  cursor: pointer;
  background-color: #0d47a1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.af {
  /* width: 100%; */
  height: 40rem;
  margin-top: 4rem;
}

div.afrivacx_board {
  display: flex;
  position: relative;
  top: 5rem;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.afrivacx_board::-webkit-scrollbar {
  display: none;
}

.member {
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}

.member h4 {
  color: #0d47a1;
}

.member p {
  margin-bottom: 0px;
}

.board_title {
  background-color: #0d47a1;
  color: white;
  width: 100%;
  height: 10rem;
  text-align: center;
  position: absolute;
  padding-top: 2rem;
}

.events {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  /* grid-column-gap: 5rem; */
}

.afrivacx_events h1 {
  text-align: center;
  color: #0d47a1;
}

.events h5 {
  margin-bottom: 3rem;
}

.events h3 {
  color: #0d47a1;
}

.current_image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.current_image img {
  width: 100%;
}

.current_body {
  padding: 2rem 2rem;
}

.current_event {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.next_events {
  background-color: #eeeeee;
  padding: 2rem 4rem;
  color: black;
  box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
    rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
}

.next_events p {
  margin-bottom: 0px;
}

.next_event {
  margin-bottom: 2rem;
}

.next_event h4 {
  color: #0d47a1;
}

.socials a {
  text-decoration: none;
  margin: 0.4rem;
  color: black;
}

.join_u {
  padding: 2rem 5rem;
}

.join {
  border: #0d47a1 2px solid;
  border-radius: 1rem;
  padding: 2rem;
}

.join h2 {
  color: #0d47a1;
  font-weight: bold;
}

.join div {
  display: flex;
}

.join div p {
  width: 83%;
  margin-right: 0.5rem;
  text-align: justify;
}

/* Button CSS */
.button_1 button {
  background-color: #0d47a1;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: system-ui, -apple-system, system-ui, "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button_1 button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.button_1 button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
  color: #0d47a1;
  background-color: white;
}

@media (min-width: 768px) {
  .button_1 button {
    padding: 16px 48px;
  }
}

.button_2 button {
  border: none;
  margin: 0px;
  font-weight: bolder;
}

.button_2 button:hover {
  margin-right: 0.5rem;
}

.button_2 a {
  color: black;
}

.button_2 a:hover {
  text-decoration: none;
  color: black;
}

.event_body {
  padding: 5rem 0rem;
}

.about_container {
  padding: 5rem 0px;
}

.about_tabs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  width: 80%;
}

.ta {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #0d47a1;
}

.ta p {
  margin: 0px;
}

.ta:hover {
  background-color: #0d47a1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.selected_tab {
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: #0d47a1;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.selected_tab p {
  margin: 0px;
}

.about {
  width: 100%;
  display: flex;
  justify-content: center;
}

.about_body {
  padding: 5rem;
}

.about_body h3 {
  color: #0d47a1;
}

.about_body p {
  text-align: justify;
}

.vaccine_body {
  padding: 5rem;
}

.vaccine_body h1 {
  text-align: center;
  color: #0d47a1;
}

.vaccine_body h4 {
  color: #0d47a1;
}

.vaccine_body p {
  text-align: justify;
}

.even_body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.even_detail {
  padding: 5rem;
}

.even_detail h2 {
  color: #0d47a1;
}

.blogs button {
  background-color: #0d47a1;
  border: 0;
  border-radius: 1rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  height: 2rem;
  width: 2rem;
}

.blogs button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: 0.5;
  position: absolute;
  top: 0;
  transition: all 0.3s;
  width: 92%;
}

.blogs button:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0 3px 15px inset,
    rgba(0, 0, 0, 0.1) 0 3px 5px, rgba(0, 0, 0, 0.1) 0 10px 13px;
  transform: scale(1.05);
  color: #0d47a1;
  background-color: white;
}

.btnn {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  padding: 1rem;
}

.blog {
  display: grid;
  grid-template-columns: 1% 1fr;
}

.sidebar {
  /* position: absolute; */
  height: 100%;
}

.blog_details {
  padding: 5rem 8rem 5rem 10rem;
}

.blog_details p {
  text-align: justify;
}

.blog_details h3 {
  color: #0d47a1;
}

.blogger_image img {
  color: #0d47a1;
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 4rem;
  margin: 1rem;
  background-color: white;
  box-shadow: rgba(248, 249, 250, 0.17) 0px -23px 25px 0px inset,
    rgba(246, 247, 247, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.blogger_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
}
